.landing {
   background-image: 
    linear-gradient( 45deg, transparent 10%, rgba(9, 0, 128, 0.3) 100% ),
    url("/img/plant.jpeg");
   background-size: cover;
   width: 100%;
   height: 100vh;
   font-size: 1em;
}

.half-size {
    width: 350px;
    /* margin: 0; */
    float: right;
    position: relative;
    top: 30%;
    right: 5%;
    transform: translateY(-50%);
}

.col-xs-12 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 2em;
  color: #404040;
  text-align: center;
  
}

.col-xs-6 {
    width: 50%;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #404040
}

.right {
    text-align: right
}

.one {
    text-align: right;
     font-family: 'Open Sans', sans-serif;
     font-size: 1em;
}

@media only screen and (max-width: 495px) {
   .half-size {
    top: 20%;
    left: 5%;
    }
}

/* unvisited link */
a:link {
    color: #404040;
}

/* visited link */
a:visited {
    color: #404040;
    text-decoration: none;
    
}

/* mouse over link */
a:hover {
    color: rgb(150, 1, 150);
    text-decoration: none;
}

/* selected link */
a:active {
    color: rgb(150, 1, 150);
}

.col-xs-6 a:visited a:selected {
    color: rgba(128,0,128);
    text-decoration: none;
}

.col-xs-2 {
    text-align: center;
}
